In [1]:
from journal_scrape import JNeurophys
from dbclass import Article, Database

IndentationError: expected an indented block (journal_scrape.py, line 168)

In [ ]:
jn = JNeurophys()

In [ ]:
art = jn.get_article('https://journals.physiology.org/doi/full/10.1152/jn.00399.2013')

In [ ]:
art.pandas_body()

In [ ]:
art.pandas_metadata()

In [ ]:
art.insert_metadata(art.meta)

In [ ]:
art.insert_text()

In [ ]:
art.insert_citations()

In [ ]:
import pandas as pd 
db = Database()

In [ ]:
sql = "SELECT pg_backend_pid()"
data = pd.read_sql(sql, db.conn)
data

In [ ]:
sql="""
SELECT pg_terminate_backend( pid ) \
FROM pg_stat_activity \
WHERE pid <> pg_backend_pid( ) \
AND datname = current_database( );
"""
with db.conn.cursor() as cursor:
    cursor.execute(sql)

In [ ]:
sql = """\
SELECT MAX(id) \
FROM metadata"""
with db.conn.cursor() as cursor:
    cursor.execute(sql)
    uid = cursor.fetchone()[0]

In [ ]:
sql = "ALTER TABLE body ALTER COLUMN id TYPE BIGINT;"
with db.conn.cursor() as cursor:
    cursor.execute(sql)

In [ ]:
sql = "SELECT pg_typeof(id) FROM metadata;"
with db.conn.cursor() as cursor:
    cursor.execute(sql)
    result = cursor.fetchone()[0]
result

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
cursor = art.db.conn.cursor()
cursor.execute('TRUNCATE metadata')
cursor.execute('TRUNCATE body')
art.db.conn.commit()

In [ ]:
sql = """
SELECT * \
FROM body \
WHERE COALESCE(prose, '') = '';
""" 
db = Database()
data = pd.read_sql(sql, db.conn)
data

In [ ]:
sql = """
DELETE FROM body \
WHERE COALESCE(prose, '') = '';
""" 
db = Database()
with db.conn.cursor() as cursor:
    cursor.execute(sql)
db.conn.commit()