In [1]:
from journal_scrape import JNeurophys
from dbclass import Article, Database

In [2]:
jn = JNeurophys()

In [3]:
art = jn.get_article('https://journals.physiology.org/doi/full/10.1152/jn.00399.2013')

C:\Users\dwood\Documents\GitHub\SharpestMindsProject\dbclass.py:32: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  vals = yaml.load(f)

In [4]:
art.pandas_body()

Empty DataFrame
Columns: [id, sectiona, sectionb, prose]
Index: []

In [6]:
art.insert_metadata(art.meta)

In [7]:
art.insert_text()

In [8]:
art.insert_citations()

0 85

In [ ]:
import pandas as pd 
db = Database()

In [ ]:
sql = "SELECT pg_backend_pid()"
data = pd.read_sql(sql, db.conn)
data

In [ ]:
sql="""
SELECT pg_terminate_backend( pid ) \
FROM pg_stat_activity \
WHERE pid <> pg_backend_pid( ) \
AND datname = current_database( );
"""
with db.conn.cursor() as cursor:
    cursor.execute(sql)

In [ ]:
sql = """\
SELECT MAX(id) \
FROM metadata"""
with db.conn.cursor() as cursor:
    cursor.execute(sql)
    uid = cursor.fetchone()[0]

In [ ]:
sql = "ALTER TABLE body ALTER COLUMN id TYPE BIGINT;"
with db.conn.cursor() as cursor:
    cursor.execute(sql)

In [ ]:
sql = "SELECT pg_typeof(id) FROM metadata;"
with db.conn.cursor() as cursor:
    cursor.execute(sql)
    result = cursor.fetchone()[0]
result

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
cursor = art.db.conn.cursor()
cursor.execute('TRUNCATE metadata')
cursor.execute('TRUNCATE body')
art.db.conn.commit()

In [12]:
sql = """
SELECT * \
FROM body \
WHERE COALESCE(prose, '') = '';
""" 
db = Database()
data = pd.read_sql(sql, db.conn)
data

   id              sectiona sectionb prose
0   0                GRANTS     None
1   0           DISCLOSURES     None
2   0  AUTHOR CONTRIBUTIONS     None

In [15]:
sql = """
DELETE FROM body \
WHERE COALESCE(prose, '') = '';
""" 
db = Database()
with db.conn.cursor() as cursor:
    cursor.execute(sql)
db.conn.commit()